
/*Elements*/
h1 {
    color: white;
    align-items: center;
    padding-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    background: rgb(245, 200, 208);
    padding: 20px;
    border-radius: 10px;
}

/*Classes*/
.buttons {
    display: flex;
    justify-content: center;

}

/*ID tags*/
#aboutButton {
    justify-content: flex-end;
}
