
/*Elements*/
html {
    background: rgb(245, 233, 193);
}

h1 {
    color: rgb(74, 74, 74);
    align-items: center;
    padding-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

header {
    display: flex;
    background: linear-gradient(rgb(191, 232, 246), white);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(74, 74, 74);
}

/*Classes*/
.buttons {
    display: flex;
    justify-content: center;

}

/*ID tags*/
#aboutButton {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}


