
/*Elements*/
html {
    background: rgb(255, 230, 177);
}

body {
    margin: 0px;
}

h1 {
    color: rgb(74, 74, 74);
    align-items: center;
    padding-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(191, 232, 246);
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: 5px solid rgb(74, 74, 74);
}

/*ID tags*/
#title {
    display: flex;
    justify-items: flex-start;
}

#questions {
    display: flex;
    justify-items: flex-end;
    padding: 0px;
    background: white;
    border: none;
}


